{% extends "base.html" %}
{% block content %}
<div class="container py-4">

<h3>Quotations</h3>

<table class="table table-bordered">
<tr>
<th>No</th><th>Quotation</th><th>Status</th><th>Total</th><th>Actions</th>
</tr>

{% for q in quotations %}
<tr>
<td>{{ loop.index }}</td>
<td>{{ q.quotation_number }}</td>
<td>{{ q.status }}</td>
<td>₹{{ q.grand_total }}</td>
<td>
<a href="/quotations/{{ q.id }}/pdf" class="btn btn-sm btn-primary">PDF</a>
<a href="/quotations/{{ q.id }}/convert" class="btn btn-sm btn-success">Convert to Invoice</a>
 <a href="/quotations/{{ q.id }}/delete"
       class="btn btn-sm btn-danger"
       onclick="return confirm('Are you sure you want to delete this quotation?')">
       Delete
    </a>
    <td class="d-flex flex-wrap gap-1">

    <!-- Preview -->
    <a href="/quotations/preview/{{ q.id }}" 
       class="btn btn-sm btn-info">
       Preview
    </a>

 
    <!-- Email -->
    <a href="/quotations/{{ q.id }}/send-email" 
       class="btn btn-sm btn-warning">
       Email
    </a>

    <!-- WhatsApp -->
    <a href="/quotations/{{ q.id }}/send-whatsapp" 
       class="btn btn-sm btn-success">
       WhatsApp
    </a>

   
</td>

</td>
</tr>
{% endfor %}

</table>
</div>
{% endblock %}
